html {
    --background2: #282A36;
    --background: #383a59;
    --text: #F8F8F2;
    --cyan: #8BE9FD;
    --green: #50FA7B;
    --orange: #FFB86C;
    --pink: #FF79C6;
    --purple: #BD93F9;
    --red: #FF5555;
    --yellow: #F1FA8C;
}

body#md {
    font-weight: 400;
    font-size: 1em;
    font-family: Arial, Helvetica, "sans serif";
    text-align: left;
    line-height: 170%;
    overflow-x: hidden;
}

/* reset heading/link fonts to that of body */
.md a,
.md div.title, contents, .md .tocHeader,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4, .md .nonumberh5, .md .nonumberh6,
.md .shortTOC, .md .mediumTOC, .md .longTOC {
    font-family: inherit;
}

.md .tocHeader {
    border: none;
    margin-top: 25px;
    font-size: 100%;
    font-family: inherit;
    font-weight: 300;
}

.md .longTOC .level1 {
    font-weight: 300;
    margin-bottom: -30px;
}

.md div.title, .md div.subtitle, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    font-family: Arial, Helvetica, "sans serif";
    font-weight: 300;
}

.md div.title {
    font-size: 43px;
    text-align: left;
    margin-bottom: 0px;
    color: var(--pink) !important;
}

.md div.subtitle {
    text-align: left;
    font-size: 115%;
    color: var(--pink) !important;
}

.md div.afterTitles {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 0px;
    border-bottom: 1px solid #000;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.md div.afterTitles + p {
    margin-top: 30px;
}

.md h1 {
    font-size: 175%;
    margin-bottom: 5px;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    padding-top:25px;
    border-bottom: none;
    border-top:6px solid var(--pink);
    color: var(--purple) !important;
}

.md h2 {
    font-size: 150%;
    border: none;
    color: var(--yellow) !important;
}

.md h3, .md h4, .md h5, .md h6 {
    font-size: 120%;
    color: var(--green) !important;
}

.md code {
    font-size: 90%;
    background: #eee;
    padding-left: 2px;
    padding-right: 2px;
}

.md .longTOC {
    font-family: 'Roboto', Arial, Helvetica, "sans serif";
    font-weight: 300;
}

.md pre.listing {
    font-size: 100%;
}

.md pre.listing code {
    font-weight: unset;
    background: none;
    color: unset;
}

/* Darkmode, wide screen: TOC on side */
@media screen and (min-device-width: 600px) {
    .md .longTOC {
        display: block;
        white-space: nowrap;    
        width: 200px;
        border-top: 10px dotted var(--background2);
        overflow-y:auto;
        font-family: inherit;
        background: var(--background);
        position: fixed;
        left: 0px;
        top: 0px;
        bottom:0px;
        margin: 0px;
        padding: 0px;
        padding-left:10px;
    }
    
    body {
        position: absolute;
        left: 230px;
        right:0px;
        margin: 0px;
        padding: 0px;
        max-width: unset;
        padding-right: 15px;
    }
}

/* Dark mode with side TOC on screen */
@media screen {
    .md div.longTOC {
        font-size: 15px;
    }
    
    
    .md svg.diagram {
        stroke: #ccc;
        fill: #ccc;
    }
    
    .md svg.diagram .opendot {
        fill: #000;
    }
    
    .md table.table {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        background-color: #2a2a2a;
    }
    
    .md table.table tr:nth-child(even) {
        background-color: var(--background);
    }
    
    .md table.table td, .md table.table th {
        border: 1px solid var(--background);
    }
    
    .md table.table th {
        color: #000;
    }
    
    .md pre.listing {
        background: var(--background);
        border: 1px solid #777;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    }

    .md code {
        color: #fff;
        background: unset;
    }

    .md .tocTop {
        display: inline;
    }

    .md div.afterTitles {
        border-bottom: 1px solid var(--pink);
    }

    .hljs-comment,.hljs-quote{color:#a0f0aa}.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion{color:#cc6666}.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link{color:#de935f}.hljs-attribute{color:#f0c674}.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition{color:#b5bd68}.hljs-title,.hljs-section{color:#81a2be}.hljs-keyword,.hljs-selector-tag{color:#b294bb}.hljs{display:block;overflow-x:auto;background:#1d1f21;color:#c5c8c6;padding:.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
    .hljs-function .hljs-title { color:#81a2be}

    body {
        color: var(--text);
        background: var(--background2);
    }

    .md div.title, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md .longTOC a, .md .longTOC code, .md a:link, .md a:visited {
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    }

    .md .admonition {
        position: unset;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        background: var(--background);
        border: 1px solid rgba(68,138,255,1);
        border-left: 2.5rem solid rgba(68,138,255,1);
    }

    .md .admonition-title {
        border-bottom: 1px solid rgba(68,138,255,1);
    }

    .md .admonition.warn, .md .admonition.warning {
        border: 1px solid rgba(255,170,0,1);
        border-left: 2.5rem solid rgba(255,170,0,1);
        background: var(--background);
    }

    .md .admonition.warn .admonition-title, .md .admonition.warning .admonition-title {
        border-bottom: 1px solid rgba(68,138,255,1);
    }

    .md .admonition.tip {
        border: 1px solid rgba(68,138,255,1);
        border-left: 2.5rem solid rgba(68,138,255,1);
        background: var(--background);
    }
    .md .admonition.tip .admonition-title {
        border-bottom: 1px solid rgba(68,138,255,1);
    }

    .md .admonition.error {
        border: 1px solid rgba(255,23,68,1);
        border-left: 2.5rem solid rgba(255,23,68,1);
        background: var(--background);
    }

    .md .admonition.error .admonition-title {
        border-bottom: 1px solid rgba(255,23,68,1);
    }

    .md a:link, .md a:visited, .md a:link code, .md a:visited code {
        color: var(--cyan) !important;
    }
    
    .md .longTOC a, .md .longTOC code {
        color: var(--yellow) !important;
    }
   
}



/* Removes numbering from headers */

.md h1::before,
.md h2::before,
.md h3::before,
.md h4::before,
.md h5::before,
.md h6::before,
span.tocNumber {
    display: none;
}

div.tocHeader {
    display: none;
}

.md h1:first-of-type {
    border-top: 0px;
    padding-top: 5px;
}

.md h3 {
    padding-top: 3px;
}
