<meta charset="utf-8" emacsmode="-*- markdown -*-"><link rel="stylesheet" href="dracula.css?">

**~~Slate~~ Dracula Template**
    Version whatever


This template apparently automatically switches to 
black-on-white and an inline table of contents when
printed, but I haven't tried that for myself to confirm it.

The original Slate template was meant for documentation,
but since I wanted to use it for fiction, I've modified it
by removing the header numbers from both the inline document
and the TOC sidebar. You can get them back if you want them
by removing or commenting-out the last section in `dracula.css`.


# Book 1

*I strongly disagree with whatever work this quote is attached to.*<br />
—Randall Munroe

*Blockquotes don't work for whatever reason.*<br />
—Abraham Lincoln

## Part 1

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
minim veniam, quis nostrud exercitation ullamco laboris nisi ut
aliquip ex ea commodo consequat. Duis aute irure dolor in
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
pariatur. 

Here's | A     | Table 
-------|-------|----------
Cats   | Cute  | Inedible
Dogs   | Loud  | Inedible
Turnips| Round | Edible
[Table [table]: Caption with label.]


### Chapter 1

Excepteur sint occaecat cupidatat non proident, sunt in
culpa qui officia deserunt mollit anim id est laborum:

- Incididunt
- Bonus Unum
- Quibusdam

```````````````````````````````````````````````

    I guess you can also put code in if you want.

```````````````````````````````````````````````

This is also a thing you can do:

**************************************************************
*                                                            
* .---.       .-.        .-.       .-.                       
* | A +----->| 1 +<---->| 2 |<----+ 4 +------------------.   
* '---'       '-'        '+'       '-'                    |  
*                         |         ^                     |  
*                         v         |                     v  
*                        .-.      .-+-.        .-.      .-+-.
*                       | 3 +---->| B |<----->| 5 +---->| C |
*                        '-'      '---'        '-'      '---'
**************************************************************

Nam libero tempore, cum `soluta` nobis est eligendi optio
cumque nihil impedit quo minus id quod maxime placeat facere possimus,
omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
eveniet ut et voluptates repudiandae sint et molestiae non
recusandae. 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
a long preformatted code block a long preformatted code block a long preformatted code block a long preformatted code block a long preformatted code block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Modules
==============================================================

Nam libero tempore, cum soluta nobis est eligendi optio
cumque nihil impedit quo minus id quod maxime placeat facere possimus,
omnis voluptas assumenda est, omnis dolor repellendus.

See Also
==============================================================

[Link to nowhere](nowhere).


 
<style class="fallback">body{visibility:hidden}</style><script>markdeepOptions={tocStyle:'long'};</script>
<!-- Markdeep: --><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?" charset="utf-8"></script>
